.error{
    display: flex;
    color:red;
    padding-right: 15px;
    margin-bottom: 0px !important;
}
.desktop-google-map{
    height: 275px;
    width: 600px;
}

@media only screen and (max-width:480px) {
    .mobile-google-map{
        width: 390px;
        height: 300px;
    }
}
.fill-btn-disabled{
  height: 40px;
  border-radius: 20px;
  background-color: grey;
  outline: none;
  border: 0;
  font-family: M_Sbold;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: 18px;
  text-align: center;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  transition: all .3s;
}
.fill-btn-disabled:hover{
	background: grey;
  text-decoration: none;
}
